/*Created by Vineesha Thallapaneni*/
.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}


/* navbar */

.navbox {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d1c0c0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
    background-color: #ede9e9;
    display: -webkit-inline-flex;
    box-shadow: 0 0 25px 0 black;
}

.navbox .leftside {
    width: 80px;
    height: 80px;
}

.navbox .leftside img {
    width: 120%;
    height: 105%;
}

.navbox .rightside {
    display: flex;
    flex-direction: row;
}

.navbox .rightside .navlinks {
    font-size: 15px;
    color: rgb(27, 23, 23);
    font-weight: 600;
    margin: auto 10px;
    font-style: italic;
}

.navbox a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbox a:hover {
    background-color: rgb(114, 62, 62);
    transition-delay: 0.1s;
    transition-duration: 1s;
}

.navbox li {
    margin: 20px;
}